<!-- 
This example is designed to work with M.App Enterprise and attribute data.
It uses the M.App Enterprise SQL Query Interface to query and load point data (as attribute data).
Using attribute data in place of a Vector Set is recommended when using point data.
Loading point data in this fashion is more efficient than using a Vector Set. 
This example contains code to:
	- display a button
	- create a drop-down list
	- populate a drop-down list with display items
	- construct an SQL query based upon item selected in drop-down list
	- execute SQL query
	- load new data
-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<style type="text/css">
  
  .searchDetails td {
  	height: 20px!important;  
  }
  
  .singleTooltipPopup > span.material-icons {
    font-size: 18px!important;
  }
  
  .singleTooltipPopup {
    width: 190px!important;
  }
  
  td {
    text-align: center!important;
    height:75px!important;
    padding: 0px 5px!important;
  }
  
  th {
    text-align: center!important;
    height:50px!important;
    background: #0d141c!important;
    color: #FFFFFF!important;
    padding: 0px 5px!important;
  }
  
  .table th.sort-header:after{
    display: none!important;
  }
  
  .sort-header {
    pointer-events:none!important;
  }
  
  .sort-span{
    display: none!important;
  }
  
  table th.sort-header:hover:after {
     display: none!important;
   }
  
  .export-button {
    display:none!important;
  }
	
	.myButton {
        border: 1px solid #aaa;
        text-align: center;
        float: left;
        line-height: 1;
        cursor: pointer;
        -webkit-appearance: none;
        -webkit-font-smoothing: antialiased;
        transition: background 0.25s ease-out;
        vertical-align: middle;
        padding: 0.39em 1em;
        border-radius: 0;
        font-size: 0.9rem;
        display: inline-block;
        width: auto;
        margin: 0 0.3125rem 0.3125rem 0;
        background: rgba(0, 0, 0, 0.2);
	}
	
</style>

<div style="margin-left:10px; margin-top:5px">
	<div>
	
      <div id="showEntity" style="display:block">
      	<button id="btnShow" class="myButton" 
         onclick="
                    var x = document.getElementById('changeEntity');
                    x.style.display = 'block';
                  	this.style.display = 'none'
                  
                  ">Selector d'entitat</button>
      </div>
      
      <div id="changeEntity" style="display:none">
        
        <select class="comboSearch comboSearchBG" id="myAttributeLoader">
              <option value="1">Mercats</option>
              <option value="2">Terrasses</option>
              <option value="3">Obres</option>
              <option value="4">OVP</option>
              <option value="5">Activitats econòmiques</option>
          </select>

          <div class="textSearchSumbit textSearchSumbitFont" 
  onclick="       
           
           var x = document.getElementById('showEntity');
           var y = document.getElementById('btnShow');
           var z = document.getElementById('changeEntity');
           x.style.display = 'block';
           y.style.display = 'block';
           z.style.display = 'none'

          // Display a loading screen when button is clicked
          // ModalDialogModel.model.show($.i18n('please_wait_template'), $.i18n('message_pleaseWait'));
           window.ModalDialog.show($.i18n('please_wait_template'), $.i18n('message_pleaseWait'));

          // Get value from the drop down
          var entidadId =  $('#myAttributeLoader').val();
          var entidadString = $('#myAttributeLoader option:selected').text();
		
           var entity = {};
           var filter = '';
           switch(entidadId){
           		case '1':
           			entity.table='mercados';
           			filter = 'Mercats';
           		break;          
	       		case '2':
           			entity.table='terrazas';
           			filter = 'Terrasses';
           		break;
           		case '3':
           			entity.table='obras';
           			filter = 'Obres urbanístiques';
           		break;
           		case '4':
           			entity.table='ovp';
           			filter = 'Ocupació de la via pública';
           		break;
           		case '5':
           			entity.table='actividades';
           			filter ='Activitats econòmiques';
           		break;
           }

           console.log('findStageModel===============================');
           var sm = Analyzer.findStageModel(); 
           console.log(sm);

           //features
           //var featureLayer = sm.features.find((f) => { return f.type === 'clusterLayer'; });
           //featureLayer.title = entidadString;
           //console.log(featureLayer);
           //featureLayer.reload();


           //var widget = sm.widgets[1];
           var widget = sm.widgets.find((w) => { return w.type === 'html'; });
           console.log(widget);
          
           var mapLeaflet = sm.widgets.find((w) => { return w.type === 'leaflet'; });

          
          // Construct URL
          var datasetUrl = 'https://sitdesenvol.absis.es/api/v1/sqlquery/v_fa_inspecciones?query=SELECT * FROM v_fa_inspecciones where tipo_entidad_id=' + entidadId + '&format=csv';
         
          var SMInspGenericas = Analyzer.getAllStageModels().find((sm) => { return sm.stageId === 'v_fa_inspecciones_genericas'});
          var pieInspGenericas = SMInspGenericas.widgets[0];
          pieInspGenericas.filters = [filter];          
           
         
          

          Analyzer.updateDataset({
            stageModel: null,
            dataset: datasetUrl,
            fitFeatures: true,
            clearFilters: true
          })
            .then (() => {    

               console.log('=================updateDataset Features done!!!!!');
             	 // Analyzer.refreshWidgets();	   
           
                //var map = M.mapManager.leafletMap;
           		mapLeaflet.getMap()._map.fire('fitAll');
           
           		var layerList = mapLeaflet.getMap().getOrderedLayerList();
           		for (var i=0; i < layerList.length; i++) {
           		  var l = mapLeaflet.getMap().mapLayers[layerList[i]];
           		  if (l.layerType === 'wms') {
           			if (l.options.layers === entity.table){
           				mapLeaflet.getMap().toggleLayerVisibility(layerList[i], true);
           			} else {
           				mapLeaflet.getMap().toggleLayerVisibility(layerList[i], false);
           			}
           		  }
          
           
           		}
           
           
               // Analyzer.reloadView();


               ModalDialog.hide();
               $('#myAttributeLoader').val(entidadId);
           	   

              //widget.visible=true;
              //widget.reload();
                      	           
           

          });


              // Update the title bar text
              Analyzer.updateTitle('Inspeccions de '+entidadString);
              







           "> <span>OK</span> </div>      
       
      </div>
        
    </div>
	
</div>
